<aside class="left-sidebar">
          
            <div class="agentinfo">
              <div><img src="https://app.site100.cn/male1.png"  /></div>
              <div>{$agentinfo['name']}</div>
              </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
            
              
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                      
                      <!--
                        <li> <a class="waves-effect waves-dark" href="index.html" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">数据统计</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="./wagent.php?c=site&a=entry&op=display&do=main&m=weixinmao_house&i=4" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">二手房管理</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="./wagent.php?c=site&a=entry&op=display&do=agentlethouse&m=weixinmao_house&i=4" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">出租房管理</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="icon-material.html" aria-expanded="false"><i class="mdi mdi-emoticon"></i><span class="hide-menu">我的团队</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">收益记录</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">申请提现</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i class="mdi mdi-help-circle"></i><span class="hide-menu">客服中心</span></a></li>
                    	-->
                      
                      <li> <a class="waves-effect waves-dark" href="./wagent.php?c=site&a=entry&op=display&do=main&m=weixinmao_house&i=4" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">二手房管理</span></a></li>
                        <li> <a class="waves-effect waves-dark" href="./wagent.php?c=site&a=entry&op=display&do=agentlethouse&m=weixinmao_house&i=4" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">出租房管理</span></a></li>
					</ul>
                    <div class="text-center m-t-30">
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>